<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns     = 'http://www.w3.org/ns/widgets'
        xmlns:gap = 'http://phonegap.com/ns/1.0'
		id="pushtest" version="1.0">

	<name>TestPush</name>
	<description>Test push plugin notifications</description>
	<author>SMMM</author>	<gap:platforms>
		<gap:platform name="ios" />
		<gap:platform name="android" />		
	</gap:platforms>	

	<icon src="logoApp.png" width="128" height="128" gap:role="default" />	
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="target-device" value="universal" />
	<access origin="*" />
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<gap:plugin name="com.pushwoosh.plugins.pushwoosh" />
	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>